@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700')
$font-stack: "Roboto", Ariel, sans-serif
$font-stack-two: "Open Sans", Ariel, sans-serif

// To make it easier to change stuff
$white: #FFFFFF
$black: #000000

$primary_color: #1C1E24
$secondary_color: #9EA3B4
$highlight_color: #517AF4

h1 
	color: $primary_color

h2
	color: $primary_color
	font-size: 1.875em
	font-weight: 500
	line-height: 1.2em
	opacity: .85

h3
	color: $primary_color

h4
	color: $primary_color

h5
	font-size: 1.375em
	font-weight: 400
	color: $primary_color

h6
	font-size: 0.75em
	text-transform: uppercase
	font-weight: 600
	color: $secondary_color

small
	font-size: 0.75em
	font-weight: 300
	color: $secondary_color
	text-transform: uppercase
p
	font-size: 1em
	font-weight: 200
	color: $secondary_color
	line-height: 2.2em

hr
	border-style: solid
	color: $secondary_color
	opacity: .1