---
layout: default
---
{% for post in site.posts offset: 0 limit:1 %}
<!-- limit 1 allows only one header -->
<!-- offset 0 allows us to choose which is our featured post -->
<header class="blog-index-header-main" style="background-image: url('{{ site.baseurl }}{{ site.path_to_blog_img }}{{ post.feature-image }}')">
	<div class="overlay-dark"></div>
	{% include nav.html %}
	<div class="blog-index-title">
		<h1 class="featured">{{ post.title }}</h1>
		<a href="{{ post.url }}" class="read-featured">Read</a>
	</div>
</header>
{% endfor %}

<div class="blog-index-wrapper">
	{% for post in site.posts %}
		<div class="blog-post-container">
			<a href="{{ post.url }}" class="blog-post-featured-img" style="background-image: url('{{ site.baseurl }}{{ site.path_to_blog_img }}lowres/{{ post.feature-image }}')"></a>
			<!-- <a href=""></a> -->
			<a href="" class="blog-category">{{ post.categories }}</a>
			<a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
			<p class="blog-excerpt">{{ post.excerpt }}</p>
		</div>
	{% endfor %}
</div>

