//Style for index.html
header.header-main
	position: relative 
	z-index: 1
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	width: 100%
	height: 500px
	background: 
		size: cover
		position: center center
		repeat: no-repeat
	
	.overlay-light
		position: absolute
		z-index: 2
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: $white
		opacity: .65

	.home-title
		position: relative
		z-index: 3
		text-align: center
		padding-top: 50px

		h1
			font-size: 3.125em
			padding: 0px 20px 5px 20px
		h3
			font-size: 1.25em
			padding: 10px 0px 20px
	
	.home-avatar
		position: absolute
		height: 150px
		width: 150px
		border-radius: 100%
		z-index: 3
		// padding: 20px 0px 20px
		bottom: 0
		left: 0
		right: 0
		margin: auto
		margin-bottom: -75px
		box-shadow: 0px 3px 6px 0px rgba(0,0,0,.25)
		background:
			image: url('../../assets/images/profilePic.jpg')
			size: cover
			position: center center
			repeat: no-repeat
		@media screen and(max-width: 335px)
			height: 75px
			width: 75px
			margin-bottom: -42px

// Who am i section
.who-is-he
	max-width: 600px
	margin: 160px auto 100px auto
	padding: 0px 30px 0px
	h2
		padding-bottom: 17px
	p
		a
			font-weight: 600
			color: $highlight_color
			transistion: .15s ease-in-out
			&:hover
				color: $secondary-color

// Edu Section
h2.education
	text-align: center
	padding-top: 100px

.edu-content-wrapper
	margin: auto
	max-width: 800px
	padding: 60px 20px 0px 20px
	display: flex
	flex-direction: column
	align-items: center
	.edu-wrap
		width: 100%
		display: flex
		justify-content: flex-start
		.edu
			max-width: 465px
			min-height: 100px
			margin: 20px 0
			display: flex
			flex-direction: row
			justify-content: space-around
			.edu-img
				background: $primary_color
				height: 100px
				width: 100px
				flex: 0 0 100px
				border-radius: 3px
				cursor: pointer
				background:
					size: cover
					position: center center
					repeat: no-repeat
			.edu-img-one
				background:
					image: url('../../assets/images/ASU_LOGO.jpg')
			.edu-img-two
				background:
					image: url('../../assets/images/ASU_LOGO.jpg')
	.edu-wrap-reverse
		justify-content: flex-end
		.edu
			flex-direction: row-reverse
			.edu-text
				text-align: right
				margin-right: 15px
				margin-left: 0
	@media screen and (max-width: 465px) 
		.edu-wrap
			.edu
				flex-direction: column
				min-height: 199px
				.edu-text
					margin: 6px 0 0 0
		.edu-wrap-reverse
			.edu
				align-items: flex-end
				flex-direction: column
				min-height: 189px
				.edu-text
					margin: 6px 0 0 0
.edu-text
	min-height: 83px
	height: 100%
	width: 100%
	margin-left: 15px
	display: flex
	flex-direction: column
	justify-content: space-around
	padding: 5px 0
	p
		line-height: 1.1875em


