			<div class="exp">
				<div class="exp-img exp-img-one"></div>
					<a href="" target="_blank" class="exp-text">
						<h4>ASU Engineering Technical Services</h4>
						<ul>
							<li>Program packaging and SCCM configuration for outgoing program campus wide</li>
							<li>Create Ubuntu/RedHat Server templates with consideration to ISO security policy</li>
							<li>Obtaining familiarity with VM workstation as a software testing environment prior to deployment</li>
							<li>Create customer report for administration through SCCM to find old/lost machine in the system</li>
							<li>Implement test installation code in sandbox development area using virtualized environments</li>
							<li>Recommend possible Mobile device management solutions with detailed outcomes and expected costs</li>
						</ul>
					</a>
			</div>

			<div class="exp">
				<div class="exp-img exp-img-one"></div>
					<a href="" target="_blank" class="exp-text">
						<h4>ASU University Technology Office</h4>
						<ul>
							<li>Test and evaluate existing network systems for faulty connections</li>
							<li>Perform regular maintenance to ensure that networks operate properly</li>
							<li>Assist/diagnose customers with their computer issues</li>
							<li>Recommend solutions and educate customers through technological complications</li>
						</ul>
					</a>
			</div>