---
layout: default
---

<header class="blog-index-header-main" style="background-image: url('{{ site.url }}{{ site.path_to_blog_img }}{{ page.feature-image }}')">
	<div class="overlay-dark">
		
	</div>

	{% include nav.html %}

	<div class="blog-index-title">
		<h1 class="featured-blog-post-title">{{ page.title }}</h1>
	</div>

	<div class="author-card">
		<img src="{{ site.url }}{{ site.data.authors[page.author].avatar }}" alt="{{ site.data.authors[page.author].name }} Avatar">
		<small>
			<em>by 
				<a href="">
					{{ site.data.authors[page.author].name }}
				</a>
				on {{ page.date | date: "%B %e, %Y"}}
			</em>
		</small>
	</div>

</header>

<div class="blog-post-content-wrapper">
	
	{{ content }}

</div>

<hr>

<h5 class="read-more-cta">You might want to read...</h5>

<div class="blog-read-more-wrapper">
	
	{% for post in site.posts limit: 3%}
	<div class="blog-post-container">
		<a href="{{ post.url }}" class="blog-post-featured-img" style="background-image: url('{{ site.baseurl }}{{ site.path_to_blog_img }}lowres/{{ post.feature-image }}')"></a>
		<!-- <a href=""></a> -->
		<a href="" class="blog-category">{{ post.categories }}</a>
		<a href="{{ post.url }}" class="blog-title">{{ post.title }}</a>
		<p class="blog-excerpt">{{ post.excerpt }}</p>
	</div>
	{% endfor %}
	
</div>